.profile-avatar{
    height: 2rem;
    border-radius: 100%;
    padding: none !important;
}
.carousel-item img{
    height: 300px;
}
.card-text{
    font-size: 0.8rem;
}
.card-img-top{
    aspect-ratio: 16/9;
}
ol li{
    list-style: none;
}
.carousel-indicators [data-bs-target]{
    background-color: rgb(255, 255, 255);
    height: 0.5rem;
    width: 0.5rem;
}
.testimonials-container{
    padding:2px;
    height: 20rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.301);
}
a{
    text-decoration: none;
}